{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
<div id="profileDetails"></div>
<!-- <script src="js/node_modules/chathead-consumer-client/dist/bundle.js"></script> -->

<script>
    // Declare the `profileData` variable in the global scope
    let profileData;
  
    async function loadProfile() {
      const token = localStorage.getItem("token");
  
      try {
        if (token) {
          const response = await fetch("/api/profile", {
            method: "GET",
            headers: { Authorization: `Bearer ${token}` },
          });
          if (response.ok) {
            profileData = await response.json(); // Assign profile data to the global variable
  
            console.log("profileDatadsfsdfs", profileData);
  
          
            console.log("areweherenower?");
            document.getElementById("profileDetails").innerHTML = `
                      <p>Username: ${profileData.username}</p>
                      <p>Email: ${profileData.email}</p>
                  `;
  
            // Log the uid here if needed
            console.log("Username:", profileData);
  
            window.chathead.initialize({
              uid: profileData.username,
            });
            // Call a function after the data is loaded
            // handleProfileData();
          } else {
            alert("Failed to load profile!. Please login again.");
            window.location.href = "/login";
          }
        } else {
          alert("Failed to load profile. Please login again.");
          window.location.href = "/login";
        }
      } catch (error) {
        console.error("Error:", error);
      }
    }
  
    function handleProfileData() {
      // Access profileData safely after it has been loaded
      console.log("Accessing profileData:", profileData.uid);
  
      // Additional operations can go here
    }
  
    // Ensure the DOM is fully loaded before executing
    document.addEventListener("DOMContentLoaded", async function () {
      // const token = localStorage.getItem('token')
  
      loadProfile(); // Fetch the profile data after DOM is ready
      // console.log("do we have the tocket",profileData)
    });
  </script>

<!-- <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script> -->
{% endblock %}