<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>Username: {{ user_data.username }}</p>
    <p>Email: {{ user_data.email }}</p>
    <!-- Add more profile details here -->
</body>
<script type="text/javascript">
    // Safely converting the Python dictionary to a JavaScript object
    const userData = JSON.parse('{{ user_data | tojson | safe }}');
    console.log('User Data:', userData);

    // Make userData available globally
    window.userData = userData;
</script>

<script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</html>
